.home-container {
  text-align: center;
  padding: 3rem 1rem;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff9e6;
  border-radius: 10px;
}

h1 {
  color: #0d76e7;
  margin-bottom: 1.5rem;
}

.browse-btn {
  background-color: #3278d3;
  color: #2c3e50;
  padding: 5px 10px;
  font-size: 1.1rem;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid #2f8ce9;
}

.browse-btn:hover {
  background-color: #088cde;
  color: white;
}