h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    color:rgb(255, 255, 255);
    background-color: rgb(217, 30, 30);
    margin-top: -7px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.categories button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    color: rgb(13, 13, 13);
    background-color: rgb(235, 235, 235);
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
    border-color: rgb(226, 226, 226);
}
